<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="./logs"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} ${PID} [%thread] %-5level %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <logger name="hr.workspace.boat4you" level="trace" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <springProfile name="aws,prod">
        <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/boat4you-ws.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} ${PID} [%thread] %-5level %logger{36}: %msg%n</pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/archived/boat4you-ws-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>60</maxHistory>
                <totalSizeCap>2GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <root level="info">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>

        <logger name="hr.workspace.boat4you" level="debug" additivity="false">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <appender name="DevFile" class="ch.qos.logback.core.FileAppender">
            <file>${LOG_DIR}/boat4you-ws-dev.log</file>
            <append>true</append>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} ${PID} [%thread] %-5level %logger{36}: %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="DevFile"/>
            <appender-ref ref="Console"/>
        </root>

        <logger name="hr.workspace.boat4you" level="trace" additivity="false">
            <appender-ref ref="DevFile"/>
            <appender-ref ref="Console"/>
        </logger>
    </springProfile>

</configuration>